# Web framework and ASGI server
fastapi==0.115.11
uvicorn==0.34.0
starlette==0.46.1

# Data validation and settings
pydantic==2.10.6

# File handling and security
python-multipart==0.0.20
python-dotenv==1.1.0

# Machine Learning / Deep Learning
scikit-learn==1.6.1
xgboost==3.0.0
torch==2.6.0
mlxtend==0.23.4

# Data manipulation and analysis
numpy==1.26.4
pandas==2.2.3
statsmodels==0.14.4
nltk==3.9.1

# Visualization
matplotlib==3.8.3
seaborn==0.13.2
pillow==11.1.0

# Template rendering
jinja2==3.1.6

# PDF handling
# pypdf==5.4.0
pypdf

# Database handling
sqlalchemy==2.0.39

joblib==1.4.2
openpyxl==3.1.5

aiosqlite==0.19.0

# spacy==3.8.5
spacy

textblob==0.19.0

transformers==4.51.3

shap==0.47.2

tabula-py==2.10.0
camelot-py[cv]==1.0.0
opencv-python==4.11.0.86
easyocr==1.7.2
pdfplumber==0.11.6
paddleocr==2.10.0
pdf2image==1.17.0
pytesseract==0.3.13

pymongo==4.13.0

# paddlepaddle-gpu -f https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html
paddlepaddle -f https://www.paddlepaddle.org.cn/whl/mkl/avx/stable.html

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl